@import url('./variabel.css');

.card {
	background: var(--gray);
	padding: 10px;
	overflow: hidden;
	margin-bottom: 30px;
}

.pending-badge {
	padding: 5px;
	border-radius: 10px;
	background-color: var(--warning-color);
	color: var(--white);
}

.reject-badge {
	padding: 5px;
	border-radius: 10px;
	background-color: var(--danger-color);
	color: var(--white);
}

.accept-badge {
	padding: 5px;
	border-radius: 10px;
	background-color: var(--primary-color);
	color: var(--white);
}
