@import url('./variabel.css');

.container-login {
	padding-left: 20em;
	padding-right: 20em;
}

.form {
	margin: 40px;
	padding: 60px 0 20px 50px;
	background-color: #F2F0F0;
	mix-blend-mode: normal;
	border-radius: 20px;
}

.form button {
	display: block;
	margin: 0 auto;
}

.form a {
	font-weight: bold;
	color: var(--black);
	text-decoration: none;
	display: block;
	text-align: center;
	margin-top: 3em;
}