@import 'variabel.css';

body {
	background-image: url("../img/background.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.form-container {
	padding: 35px;
	width: 50%;
	background: var(--white);
	mix-blend-mode: normal;
	border-radius: 15px;
}

.form-container a{
	color: var(--black);
	text-decoration: none;
}
