@import url('./variabel.css');

* {
  font-family: "Montserrat", sans-serif;
	color: var(--black)
}

.navbar {
	border-radius: 0px 0px 28px 28px;
	filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.25));
}

.navbar li {
	font-weight: bold;
	padding: 15px 30px;
}

.navbar li a {
	color: var(--black) !important;
}

.navbar li a:hover {
  color: var(--primary-color) !important
}

footer {
	padding: 10px;
	background-color: var(--primary-color);
}

footer p {
	color: var(--white);
	font-weight: 700;
	text-align: center;
}